$purple-dark: #6d4499;
$purple: #9671be;
$purple-light: #b189db;

$gray-very-dark: #a8a8a8;
$gray-dark: #e5e4e4;
$gray: #ededed;
$gray-light: #f4f4f4;
$white: #ffffff;

$green: #afda97;
$beige: #d9c7c3;
$red: #dd9a8a;
$black: #130f14;
$black-ish: #a8a8a8;
$black-ish-dark: #5a5a5a;
