<!DOCTYPE html>
<html>
<head>
  <meta token="{{ @token }}">
  <meta charset="UTF-8">
  <title>Power BI Tiles - Proof of concept</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <script src="dist/bundle.js"></script>
<body>
  <div id="mount-point"></div>
</body>
</html>